* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* CSS */
.button-55 {
  align-self: center;
  background-color: rgb(252,244,233);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 141, 164);
  box-shadow: rgba(255, 129, 129, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: rgb(254, 154, 154);
  cursor: pointer;
  display: inline-block;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  height: 70px;
  position: absolute;
  bottom: 20px;
  right: 12px;
}

.button-55:hover {
  box-shadow: rgba(255, 119, 119, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(255, 150, 150, 0.3) 2px 8px 4px -6px;
}

.wrapper {
    position: relative;
}


.love__bgr-img {
    height: 100vh;
    width: 100%;
}

.love__title {
    position: absolute;
    top: 24px;
    left: 20px;
}

.love__caption-1 {
    font-size: 64px;
    font-family: Britt;
    color: rgb(255, 143, 162);
    font-weight: 600;
}

.love__caption-2 {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    font-weight: 600;
    font-family: Britt;
    color: rgb(247, 137, 155);
    margin-left: 32px;
    margin-top: 16px;
}

@font-face {
    font-family: Britt;
    src: url(/assets/font/BrittanySignature.ttf);
}

.wrapper-2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn ease 1s;
    display: none;
}

.love__content {
    margin: 20px 20px ;
    font-family: 'Patrick Hand', cursive;
    color: rgb(254, 154, 154);
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    text-align: justify;
    animation: uptoDown ease 1.5s;
    
}

.wrapper-2.open {
    display: block;
}

.wrapper-2__btn {
    bottom: 20px;
}

.wrapper-3 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn ease 1s;
    display: none;
    z-index: 3;
}

.love__title-alone {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 64px 84px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.wrapper-3.open {
    display: block;
}

.wrapper-3__btn {
    bottom: 50px;
}

.love__body {
    text-align: center;
    font-size: 18px;
    margin-top: 16px;
    line-height: 24px;
    animation: fadeIn ease 2.5s;
    font-weight: 600;
    margin: 32px 0;
}

.love__end {
    margin-left: -8px;
    margin: 16px 0;
    animation: fadeIn ease 3s;

}

.love__end-name {
  font-family: 'Patrick Hand', cursive;
    margin-top: 16px;
    font-size: 24px;
}

.love__end-title {
}

@keyframes uptoDown {
    from {
        top: -500px;
        opacity: 0;
    } to {
        top: 0;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
